# Welcome to the Data Visualization Workshop! 
# Brought to you by Sammy and Sammy

In [2]:
!pip install --upgrade numpy -q
!pip install --upgrade bokeh -q

import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import bokeh
plt.style.use('fivethirtyeight')
import ipywidgets as widgets
%matplotlib inline

*Matplotlib Section*

In [28]:
boba = pd.read_csv('bayarea_boba_spots.csv')
boba.iloc[:, 2:]
counts = boba.groupby('city').count().reset_index()
berk_boba = boba[(boba['rating']>=3)]
counts = berk_boba.groupby('city').mean().reset_index().head(10)
counts
#plt.bar(counts['city'], counts['name'])

              city  Unnamed: 0    rating        lat        long
0          Alameda  274.555556  3.611111  37.767759 -122.250787
1           Albany  527.000000  3.500000  37.890230 -122.296260
2  American Canyon  189.500000  3.500000  38.169563 -122.254208
3          Antioch  487.250000  3.750000  37.993642 -121.816708
4          Belmont  512.666667  3.833333  37.517720 -122.282454
5          Benicia  489.333333  4.166667  38.056272 -122.158937
6         Berkeley  196.800000  3.850000  37.869487 -122.263191
7        Brentwood  458.666667  4.000000  37.947816 -121.723177
8         Brisbane  129.000000  4.500000  37.683464 -122.402889
9       Burlingame  405.000000  4.357143  37.582543 -122.351709

*Seaborn Section*

*Bokeh Section*